{% extends "base.html" %}

{% load staticfiles %}
{% block metadescription %}
  {% if category %}
    {{ category.description|truncatewords:155 }}
  {% else %}
    welcome to the cushion store where you can buy comfy and awesome cushion
  {% endif %}
{% endblock %}

{% block title %}
  {% if category %}
    {{ category.name }} - Perfect Cushion store
  {% else %}
    see cushion store Perfect Cushion store
  {% endif %}
{% endblock %}

{% block content %}
  {% if category %}
    <div>
      <div>
        <p>
          <a href="{% url 'shop:allProdCat' %}">Our Product Collection</a> | {{category.name}}
        </p>
      </div>
    </div>
  {% endif %}
  <div class="">

    {% if category %}
    <img src="{{category.image.url}}" alt="{{category.name}}">
  </div>
  <br>
  <div class="">
    <h1>{{category.name}}</h1>
    <p>{{category.description}}</p>
  </div>
  {% else %}
  <img src="{% static 'img/banner.jpg' %}" alt="Our Collection">
  <br>
  <div class="">
    <h1>Our Product</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
  </div>
  {% endif %}

  <div>
    <div class="">
      {% for product in products %}
        <div>
          <div>
            <a href="#">
              <img src="{{product.image.url}}" alt="{{product.name}}">
            </a>
            <div>
              <h4>{{ product.name}}</h4>
              <p>{{product.price}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
