{% extends "base.html" %}
{% load staticfiles %}

{% block metadescription  %}
  {{product.description|truncatewords:155}}
{% endblock %}

{% block title %}
  {{ product.name }} - Perfect Cushion Store
{% endblock %}

{% block content  %}
  <div class="row my_prod_row_class">
    <div class="mx-auto">
      <p>
        <a href="{% url 'shop:allProdCat' %}">Home</a>|
        <a href="{{ product.category.get_url }}">{{ product.category }}</a>|
        {{ product.name}}
      </p>
    </div>
    <div class="container">
      <br>
      <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <div style="min-width: 18rem">
              <img src="{{ product.image.url }}" alt="{{ product.name }}" class="my_image">
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div>
              <h1 class="my_prod_title">{{ product.name }}</h1>
              <p class="my_title">${{ product.price }}</p>
              <p class="text-justify my_prod_text">Product Description</p>
              <p>{{ product.description }}</p>
              {% if product.store <= 0 %}
                <p class="text-justify my_prod_text">
                  <b>Out of Store</b>
                </p>
              {% else %}
                <a href="{% url 'cart:add_cart' product.id %}" class="btn btn-secondary">Add to Cart</a>
              {% endif %}
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
