{% extends "base.html" %}

{% load staticfiles %}

{% block metadescription %}
    welcome to the cushion store where you can buy comfy and awesome cushion
{% endblock %}

{% block title %}
    Search Perfect Cushion store
{% endblock %}

{% block content %}
    <div>
        <p class="my_search_text test-center">You have searched for <b>{{query}}</b></p>
    </div>
    <div class="container">
        <div class="row mx-auto">
            {% for product in products %}
            <div class="my_bottom_margin col-sm-12 col-md-4 col-md-12 col-lg-4">
                <div class="card" style="width:18rem">
                    <a href="{{ product.get_url }}">
                        <img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}">
                    </a>
                    <div class="card-body">
                        <h4>{{ product.name}}</h4>
                        <p>$ {{product.price}}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="row mx-auto">
                <p class="text-center my_search_text">0 result found.</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}